<header>
    <section id="top_header" class="texto_roboto texto_cinza">
        <div id="dentro_top_header" class="tamanho_maximo_conteudo display_flex">
            <a href="/">
                <div id="logo_vivara"><img src="/images/logo-vivara.svg" alt="logo"></div>
            </a>
        </div>
    </section>

</header>