<footer>
    <div class="inside_footer display_flex tamanho_maximo_conteudo">
        <section class="left_footer display_flex">
            <img src="/images/logo-vivara.svg" alt="logo-vivara">
            <p class="texto_roboto">Copyright © 2022, todos os direitos reservados.</p>
        </section>
        <section class="rigth_footer">
            <img class="site_seguro" src="/images/new-safe-google.png" alt="site seguro" width="100px">
        </section>
    </div>
</footer>
</body>

</html>


