    <section class="categorias">
                <section class="zona_titulo">
                    <h1 class="h1_titulo texto_garamond">Navegue por Categoria</h1>
                    <h2 class="h2_titulo texto_roboto">
                        TODA JOIAS CONTA UMA HISTÓRIA, ESCOLHA A SUA
                    </h2>
                    <span class="linha_texto"></span>
                </section>
                <section class="cartoes_categoria display_flex texto_garamond">
                    <div class="cartao display_flex">
                        <img src="images/pulseiras_home.webp" alt="pulseiras" />
                        <h3>Pulseiras</h3>
                    </div>
                    <div class="cartao display_flex">
                        <img src="images/brinco_home.webp" alt="brinco" />
                        <h3>Brincos</h3>
                    </div>
                    <div class="cartao display_flex">
                        <img src="images/pingente_home.webp" alt="pingente" />
                        <h3>Pingente</h3>
                    </div>
                    <div class="cartao display_flex">
                        <img src="images/aneis_home.webp" alt="Aneis" />
                        <h3>Anéis</h3>
                    </div>
                    <div class="cartao display_flex">
                        <img src="images/alincas_home.webp" alt="Alinças" />
                        <h3>Alianças</h3>
                    </div>
                    <div class="cartao display_flex">
                        <img src="images/masculino.webp" alt="anel masculino" />
                        <h3>Masculino</h3>
                    </div>
                </section>
            </section>